*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Signika', sans-serif;
        min-height: 110vh;
}
body::-webkit-scrollbar {
    width: 0.7vw;
  }
body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #d8b979;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #c6a45f;
}
body::-webkit-scrollbar-track {
    background-color: #dbdbdb;
}
.content{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.display{
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    gap: 50px;
    width: fit-content;
    padding: 10px;
}
.display .item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.display .item>p{
    color: #957a44;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}
.display .item div{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(0, 0, 0);
    background-color: #d8b979;
    height: fit-content;
    transition: .2s ease-in-out;
    box-shadow: 0 0 5px 0px rgb(177, 177, 177);
}
.display .item div:hover{
    background-color: #c2a264;

}
.display .item div p{
    font-size: 17px;
}
.display .item div strong{
    color: red;
    text-transform: uppercase;
}
.display .item div span{
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}